{% extends "base.html" %}

{% block content %}
    {% include "category_form.html" %}
    {% for category in categories %}
        <table>
            <tr valign="top">
                <td><strong>Name </strong></td>
                {% if category.name %}
                <td>: {{ category.name }}</td>
                {% endif %}
            </tr>
            <tr valign="top">
                <td><strong>Varient </strong></td>
                {% if category.varient %}
                <td>: {{ category.varient }}</td>
                {% endif %}
            </tr>
            {% if current_user.is_admin %}
            <tr valign="top">
                <td>
                    <form action="{{ url_for('delete_category', category_id=category.id) }}" method="POST">
                    <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endif %}
        </table>
        <br>
    {% endfor %}
{% endblock %}