{% extends "base.html" %}

{% block content %}
<h1>order</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.user_id.label }}<br>
        {{ form.user_id(size=32) }}<br>
        {% for error in form.user_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
         {% endfor %}
    </p>
    <p>
        {{ form.timestamp.label }}<br>
        {{ form.timestamp(size=32) }}<br>
        {% for error in form.timestamp.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.status.label }}<br>
        {{ form.status(size=32) }}<br>
        {% for error in form.status.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}    

