{% extends "base.html" %}

{% block content %}

    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.avatar.label }}<br>
            {{ form.avatar() }}<br>
            {% for error in form.avatar.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.phone.label }}<br>
            {{ form.phone(size=32) }}<br>
            {% for error in form.phone.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>
            <input type="submit" value="Update Profile">
        </p>
    </form>
{% endblock %}